nav {
  width: 100%;
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-logo {
  width: 100px;
  margin: 0 1rem;
  z-index: 10;
}

.nav-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-container {
  width: 100%;
  padding: 1rem;
}

.nav-flex {
  display: flex;
}

.nav-bg-dark {
  background-color: var(--color-bg-dark);
}

.nav-space-between {
  display: flex;
  justify-content: space-between;
}
.nav-lists {
  display: flex;
  align-items: center;
}

.nav-lists > .nav-list-item {
  margin: 0 1rem;
}

/* responsive navbar */
@media screen and (max-width: 600px) {
  .responsive-navbar {
    position: absolute;
    top: -20rem;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: var(--color-bg-dark);
    z-index: 5;
    transition: all 0.5s ease-in-out;
    padding: 1rem 0;
    color: white;
  }
  .responsive-navbar .nav-lists {
    flex-direction: column;
  }
  .responsive-navbar .btn {
    margin: 1rem 0;
  }

  .open-menu .responsive-navbar {
    top: 3.5rem;
  }

  
}
